<template>
  <q-layout view="hHh lpR fFf">
    <q-header bordered class="bg-white text-black" container>
      <q-toolbar>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        <q-avatar size="64px" icon="img:developer-64.png"> </q-avatar>
        <q-toolbar-title
          >WEBAPP<strong>TEMPLATE</strong
          ><span> {{ version }} </span></q-toolbar-title
        >
      </q-toolbar>
    </q-header>
    <q-footer bordered class="bg-white text-black" container>
      <span class="float-right q-ma-sm">
        Version <strong>{{ version }}</strong> Commit
        <strong>{{ commit.shortCommit }}</strong> on
        <strong>{{ commit.date }}</strong> by
        <strong>{{ commit.author }} </strong> <q-icon name="mail" /><a
          :href="'mailto:' + commit.email"
        >
          {{ commit.email }}</a
        >
      </span>
    </q-footer>

    <q-drawer v-model="drawer" :width="200" bordered>
      <q-list>
        <q-item
          v-for="item in menuList"
          :key="item.link"
          :to="item.link"
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-icon color="primary" :name="item.icon" />
          </q-item-section>
          <q-item-section>{{ item.title }}</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
const menuList = [
  {
    title: "Home",
    link: "/",
    icon: "las la-home",
  },
  {
    title: "Structure",
    link: "/structure",
    icon: "las la-sitemap",
  },
  {
    title: "Links",
    link: "/links",
    icon: "las la-link",
  },
];
console.log(process.env.lastCommi);
export default {
  name: "MainLayout",
  data() {
    return {
      drawer: true,
      menuList,
      version: process.env.gitVersion,
      commit: process.env.lastCommit,
    };
  },
};
</script>
