<template>
  <q-page class="row">
    <q-card flat bordered class="col-6">
      <q-card-section>
        <div class="text-h6">Home</div>
      </q-card-section>
      <q-card-section>
        <vue-mermaid
          :nodes="data"
          type="graph LR"
          @nodeClick="selectNode"
        ></vue-mermaid>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import VueMermaid from "../../node_modules/vue-mermaid/src/vue-mermaid.vue";
export default {
  name: "HomePage",
  components: { VueMermaid },
  data() {
    return {
      data: [
        {
          id: 1,
          text: "fa:fa-desktop Browser .",
          edgeType: "round",
          next: [2],
          link: "-- https 443 -->",
        },
        {
          id: 2,
          text: "fa:fa-map Traefik .",
          edgeType: "stadium",
          next: [3],
          link: "-- http 80 -->",
        },
        {
          id: 3,
          text: "fa:fa-globe Nginx .",
          edgeType: "stadium",
          next: [4, 6, 7],
          link: ["-- https -->", "-- http 8080 -->", "-- http 3000 -->"],
        },
        {
          id: 13,
          text: "fa:fa-address-book Active Directory",
          edgeType: "round",
          next: [5],
          link: "-- LDAP -->",
        },
        {
          id: 4,
          text: "fa:fa-lock Gatekeeper",
          edgeType: "stadium",
          next: [5],
          link: "-- https -->",
        },
        {
          id: 5,
          text: "fa:fa-key Keycloak .",
          edgeType: "stadium",
          next: [1],
          link: "-- Redirect http -->",
        },

        {
          id: 8,
          text: "PostgreSQL",
          edgeType: "cylindrical",
          next: [12],
          link: "-- SQL -->",
        },

        {
          id: 7,
          text: "fa:fa-plug PostgREST .",
          edgeType: "stadium",
          next: [8],
          link: "-- SQL -->",
        },

        {
          id: 6,
          text: "fa:fa-code quasar .",
          edgeType: "stadium",
          next: [],
          group: "Project",
          link: "-- https -->",
        },
        {
          id: 10,
          text: "fa:fa-code worker/jobs .",
          edgeType: "circle",
          next: [8],
          link: "-- SQL -->",
          group: "Project",
        },
        {
          id: 14,
          text: "fa:fa-code worker/tasks .",
          edgeType: "circle",
          next: [8],
          link: "-- SQL -->",
          group: "Project",
        },
        {
          id: 11,
          text: "fa:fa-code migrate .",
          edgeType: "circle",
          next: [8],
          link: "-- SQL -->",
          group: "Project",
          editable: true,
        },
        {
          id: 9,
          text: "fa:fa-clock Rundeck .",
          edgeType: "stadium",
          next: [10],
          link: "-- ssh -->",
        },
      ],
    };
  },
  methods: {
    selectNode(data) {
      console.log(data);
    },
  },
};
</script>
