<template>
  <q-page>
    <div class="row">
      <q-list bordered separator class="col">
        <q-item v-for="link in frontend" :key="link.url">
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label
              ><a :href="link.url" target="_blank">{{
                link.name
              }}</a></q-item-label
            >
            <q-item-label caption>{{ link.description }} </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-list bordered separator class="col">
        <q-item v-for="link in backend" :key="link.url">
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label
              ><a :href="link.url" target="_blank">{{
                link.name
              }}</a></q-item-label
            >
            <q-item-label caption>{{ link.description }} </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>
<script>
export default {
  name: "LinksPage",
  data() {
    return {
      frontend: [
        {
          name: "Quasar v1",
          description:
            "Effortlessly build high-performance & high-quality Vue.js 2 user interfaces in record time",
          url: "https://v1.quasar.dev",
          icon: "las la-desktop",
        },

        {
          name: "Moment.js",
          description:
            "Parse, validate, manipulate,and display dates and times in JavaScript.",
          url: "https://momentjs.com/",
          icon: "las la-calendar",
        },
        {
          name: "Lodash",
          description:
            "A modern JavaScript utility library delivering modularity, performance & extras.",
          url: "https://lodash.com/",
          icon: "las la-tools",
        },

        {
          name: "Axios",
          description:
            "Axios is a simple promise based HTTP client for the browser and node.js. Axios provides a simple to use library in a small package with a very extensible interface.",
          url: "https://axios-http.com/",
          icon: "http",
        },
        {
          name: "Highcharts",
          description:
            "Rock-solid and incredibly flexible charting library made for developers.",
          url: "https://www.highcharts.com/",
          icon: "las la-chart-line",
        },
        {
          name: "Excel Editor for VUE 2",
          description:
            "Vue2 plugin for displaying and editing the array-of-object in Excel style.",
          url: "https://github.com/cscan/vue-excel-editor",
          icon: "las la-file-excel",
        },
        {
          name: "Material icons library",
          description:
            "Material design system icons are simple, modern, friendly, and sometimes quirky.",
          url: "https://fonts.google.com/icons",
          icon: "las la-icons",
        },
      ],
      backend: [
        {
          name: "PostgreSQL",
          description:
            "Powerful, open source object-relational database system.",
          url: "https://www.postgresql.org/docs/current/index.html",
          icon: "las la-database",
        },
        {
          name: "node-pg-migrate",
          description:
            "Node.js database migration management built exclusively for postgres.",
          url: "https://salsita.github.io/node-pg-migrate/#/",
          icon: "las la-database",
        },
        {
          name: "PostgREST",
          description:
            "Standalone web server that turns your PostgreSQL database directly into a RESTful API. The structural constraints and permissions in the database determine the API endpoints and operations.",
          url: "https://postgrest.org/en/stable/",
          icon: "http",
        },
        {
          name: "MassiveJS",
          description:
            "Data mapper for Node.js that goes all in on PostgreSQL and embraces the power and flexibility of SQL and the relational model.",
          url: "https://massivejs.org/",
          icon: "las la-database",
        },

        {
          name: "Graphile Worker",
          description:
            "Job queue for PostgreSQL running on Node.js - allows you to run jobs (e.g. sending emails, performing calculations, generating PDFs, etc) in the background so that your HTTP response/application code is not held up. ",
          url: "https://github.com/graphile/worker",
          icon: "las la-business-time",
        },
      ],
    };
  },
};
</script>
