<template>
  <q-page class="row">
    <q-card flat bordered class="col">
      <q-card-section>
        <div class="text-h6">Structure</div>
      </q-card-section>

      <q-card-section class="q-pt-none row">
        <q-card flat bordered class="col-4">
          <q-tree
            :nodes="tree"
            dense
            node-key="label"
            default-expand-all
            :expanded.sync="expanded"
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <q-icon
                  v-if="prop.node.icon"
                  :name="prop.node.icon"
                  class="q-mr-sm"
                />
                <q-btn
                  class="text-weight-light text-black"
                  dense
                  flat
                  no-caps
                  @mouseover.native="content = prop.node"
                  ><strong v-if="prop.node.children">{{
                    prop.node.label
                  }}</strong>
                  <div v-else>{{ prop.node.label }}</div></q-btn
                >
              </div>
            </template>
            <!-- <template v-slot:default-body="prop">
            <div v-if="prop.node.story">
              <span class="text-weight-bold">This node has a story</span>:
              {{ prop.node.story }}
            </div>
            <q-btn
              v-else
              class="text-weight-light text-black"
              dense
              flat
              no-caps
              @mouseover.native="alert('toto')"
              >This is some default content.</q-btn
            >
          </template> -->
          </q-tree>
        </q-card>
        <q-card flat bordered class="col">
          <q-card-section>
            <div class="text-h6">{{ content.label }}</div>
          </q-card-section>
          <q-separator inset />
          <q-card-section>
            <vue-markdown :source="content.description" />
          </q-card-section>
        </q-card>
      </q-card-section>

      <q-separator inset />
    </q-card>
  </q-page>
</template>

<script>
const tree = [
  {
    label: "/",
    children: [
      {
        label: "migrate",
        icon: "las la-database",
        children: [
          {
            label: "migrations",
            children: [
              {
                label: "sql",
                children: [{ label: "index.js", icon: "lab la-js" }],
              },
            ],
          },
          { label: ".eslintrc.js", icon: "lab la-js" },
          {
            label: ".gitignore",
            icon: "lab la-git",
            description: `\`\`\`mermaid
graph LR
A[Square Rect] -- Link text --> B((Circle))
A --> C(Round Rect)
B --> D{Rhombus}
C --> D
\`\`\``,
          },
          {
            label: "package.json",
            icon: "lab la-npm",

            description: `This **package.json** file is kind of a manifest for the migrate part where **yarn** store the names and versions for all the installed packages like: 
- **node-pg-migrate**
- **pg**
___
**See also:**          
https://docs.npmjs.com/cli/v7/configuring-npm/package-json
https://nodejs.dev/learn/the-package-json-guide`,
          },
          { label: "README.md", icon: "las la-info-circle" },
          { label: "reset.sh", icon: "las la-terminal" },
          { label: "yarn.lock", icon: "lab la-npm" },
        ],
      },
      {
        label: "postgrest",
        icon: "room_service",
        children: [
          {
            label: "api.conf",
            icon: "las la-cog",
          },
          {
            label: "postgrest.",
            icon: "las la-play-circle",
          },
        ],
      },
      {
        label: "quasar",
        icon: "las la-desktop",
      },
      {
        label: "worker",
        icon: "las la-business-time",
        children: [
          {
            label: "config",

            children: [
              {
                label: "custom-environment-variables.json",
                icon: "las la-cog",
              },
              {
                label: "default.json",
                icon: "las la-cog",
              },
            ],
          },
          {
            label: "jobs",
          },
          {
            label: "tasks",
          },
          { label: ".eslintrc.js", icon: "lab la-js" },
          { label: ".gitignore", icon: "lab la-git" },
          { label: "package.json", icon: "lab la-npm" },
          { label: "run.js", icon: "lab la-js" },

          { label: "yarn.lock", icon: "lab la-npm" },
        ],
      },
      {
        label: "lint.sh",
        icon: "las la-terminal",
      },
      {
        label: "start.sh",
        icon: "las la-terminal",
      },
      {
        label: "stop.sh",
        icon: "las la-terminal",
      },
      {
        label: "clean_git.sh",
        icon: "las la-terminal",
      },
      {
        label: "config.ini",
        icon: "las la-cog",
      },
    ],
  },
];
import VueMarkdown from "vue-markdown";
export default {
  name: "StructurePage",
  components: { VueMarkdown },
  data() {
    return {
      content: tree[0],
      expanded: ["/"],
      tree: tree,
    };
  },
};
</script>
